/* NAVBAR CSS */

.main-navbar {
  background: #fff;
  margin-top: 10px;
  border-radius: 8px;
}

.navbar-links:hover {
  color: #ed216a !important;
  border-bottom: 1px solid #ed216a;
}

button {
  background: #107f8c !important;
  border: 1px solid #107f8c !important;
  padding: 3px 15px !important;
}

.navbar-nav {
  margin: 0px auto;
}

/* BANNER CSS */

.banner-description {
  padding: 35px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.banner-img {
  background-image: url("../assets/images/banner-img.png");
  height: 405px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

/* WHAT WE DO CSS */

.what-we-do {
  padding: 45px;
  text-align: center;
}

.what-we-do h2 {
  font-weight: 700;
}

.progressive-web,
.business-process,
.business-app,
.it-support {
  border-radius: 8px;
  width: 245px !important;
  height: 120px;
  background: #fff;
  padding: 15px;
  border: solid 1px #5f7d95;
  margin-bottom: 25px;
}

.heading-logo {
  display: flex;
}

.what-we-do-logo {
  padding-right: 10px;
}

.progressive-web hr,
.business-process hr,
.business-app hr,
.it-support hr {
  width: 10%;
  margin-left: 35px;
  margin-top: 0px;
}

.what-we-do-description p {
  font-size: 12px;
}

.what-we-do-slider > .slick-slider > button {
  display: none !important;
}

.what-we-do-slider > .slick-slider > .slick-list > .slick-track > .slick-slide {
  width: 270px !important;
}

/* TEAM WORK */

.team-work-heading {
  padding: 45px;
  text-align: center;
}

.team-work-heading h2 {
  font-weight: 700;
}

.succes-rate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects,
.awards,
.professional-expertise,
.experience-years {
  padding: 0px 20px;
}

.projects h1,
.awards h1,
.professional-expertise h1,
.experience-years h1 {
  margin-bottom: 0px !important;
  color: #ed216a;
  font-size: 45px !important;
  font-weight: 700;
}

.projects span,
.awards span,
.professional-expertise span,
.experience-years span {
  font-size: 15px;
  font-weight: 700;
}

.software-development-design-container {
  background: #fff;
  margin-top: 35px;
}

.development-design-container {
  padding: 30px;
}

.development-design-container h1 {
  font-weight: 700;
}

.development-design-container p {
  font-size: 18px;
}

.custome-software {
  color: #ed216a;
}

.partner-description {
  color: #414b59;
}

.software-design-development-photo {
  padding: 35px;
}

/* CASESTUDY CSS */

.case-study {
  margin: 25px;
  text-align: center;
}

.case-study h1 {
  font-weight: 600;
}

.case-study span {
  color: #ed216a;
}

.k2awards {
  background: #f8f1de;
}

.detail {
  padding: 25px;
}

.detail hr {
  margin-left: 0px;
  width: 30px;
  border-top: 3px solid #ed216a;
}

.fosterCare {
  background: #d0e3ec;
}

.mra {
  background: #d4e9dc;
}

.k2awards,
.fosterCare,
.mra {
  border-radius: 5px;
  margin-bottom: 25px;
}

.detail span {
  color: #ed216a;
}

.read-more {
  text-align: center;
}

.read-more button {
  background: #f7f7f7 !important;
  color: #ed216a;
  border: 2px solid #ed216a !important;
  padding: 15px !important;
  border-radius: 7px;
}

/* DEVELOPMENTAPPROACH CSS */

.development-approach {
  margin: 35px;
  text-align: center;
}

.development-approach h2 {
  font-weight: 700;
}

.process-description {
  background: #fff;
  padding: 25px;
  min-height: 313px;
}

.process-description h2 {
  font-weight: 600;
}

.team-photo {
  background: #f8f1de;
}

.team-photo,
.process-description {
  border-radius: 5px;
}

.development-approaches {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  background: #fff;
  padding-left: 15px;
  border-radius: 10px;
}

.heading-icon {
  padding-right: 15px;
}

.heading {
  padding-top: 7px;
}

.heading h5 {
  font-weight: 700;
}

.development-description p {
  font-size: 12px;
  padding: 0px 55px;
}

.development-approaches-container {
  position: relative;
}

.ux-driven-img {
  left: -90px;
  position: absolute;
  top: 20px;
}

.code-review-img {
  position: absolute;
  left: -110px;
  top: 350px;
}

.security-img {
  position: absolute;
  right: -115px;
  top: 190px;
}

/* TECHSTACK CSS */

.tech-stack-heading {
  text-align: center;
  margin-top: 30px;
}

.tech-stack-heading h2 {
  font-weight: 700;
}

.tech-tabs {
  display: flex;
  justify-content: center;
}

a.navbar-links.nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.tech-stack-icon {
  margin-top: 15px;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  font-weight: 700;
}

.navbar-tab-links {
  color: rgba(0, 0, 0, 0.5) !important;
  padding: 5px !important;
}

.navbar-tab-links:hover {
  color: #ed216a !important;
  border-bottom: 1px solid #ed216a;
  padding-bottom: 2px !important;
}

/* WHATOURCUSTOMERSAY CSS */

.customer-say-heading {
  text-align: center;
  margin-top: 40px;
}

.customer-say-heading h2 {
  font-weight: 700;
}

.customer-feedback-container {
  background: #fff;
  border-radius: 7px;
  margin-top: 25px;
  padding: 20px;
  margin-bottom: 20px;
}

.customer-icon {
  display: flex;
  justify-content: center;
}

.customer-feedback {
  padding: 20px;
}

.customer-name {
  text-align: center;
}

.customer-name h6 {
  font-weight: 700;
}

button.slick-arrow.slick-next {
  padding-left: 0px !important;
  background: #ed216a !important;
  border: 1px solid #ed216a !important;
  padding: 0px !important;
}

button.slick-arrow.slick-prev {
  background: #ed216a !important;
  border: 1px solid #ed216a !important;
  padding-right: 0x !important;
  padding: 0px !important;
}

.slick-dots button {
  background: none !important;
  border: none !important;
}

.slick-dots li button::before {
  color: #ed216a !important;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #ed216a !important;
  opacity: 1;
  border: 1px solid #ed216a;
  border-radius: 50px;
}

/* FOOTER CSS */

.footer-container {
  background: #c8f2f7;
  margin-top: 50px;
}

.talk-to-us {
  text-align: center;
  padding: 25px;
}

.talk-to-us h2 {
  font-weight: 700;
  padding-top: 15px;
}

.form-container {
  padding: 10px 100px;
}

.input-wrapper {
  margin-bottom: 30px;
}

.input-wrapper input {
  width: 100%;
  border-bottom: 1px solid #666;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}

.input-wrapper input:focus {
  outline: none;
}

.submitBtn {
  text-align: center;
}

.submitBtn button {
  background: #fff !important;
  color: #ed216a;
  border: 1px solid #fff !important;
  padding: 10px 30px !important;
  border-radius: 7px;
}

.submitBtn button:focus {
  outline: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
}

.social-media-icon img {
  margin-left: 10px;
}

.social-media-icon span {
  color: #ed216a;
  font-weight: 700;
}

.copy-rights span {
  color: #ed216a;
}

.footer-person-parent {
  position: relative;
}

.person-img {
  position: absolute;
  right: -90px;
  top: -145px;
}

@media screen and (max-width: 767px) {
  .projects,
  .awards,
  .professional-expertise,
  .experience-years {
    flex: 1;
  }

  .process-description {
    margin-bottom: 15px;
  }
}
